@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Georama:wght@500&family=Gotu&family=Oregano&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Saira+Stencil+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Rubik', sans-serif;
}

.animate-slide-in {
    animation: slideIn .25s ease forwards;
}

.animate-slide-out {
    animation: slideOut .25s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}